.va {
  display: flex;
  align-items: center;
}

.hero,
.cta {
  background: url(../../assets/satellite.jpg),
    linear-gradient(52deg, #42475c 0%, #20222e 71%);
}

.cta {
  height: 500px;
  border-top: 10px solid turquoise;
}

footer {
  color: white;
  background: rgb(14, 14, 14) !important;
}

footer strong {
  color: turquoise;
}

footer a {
  color: turquoise;
}

.title {
  color: rgb(255, 255, 255);
  font-weight: normal;
  font-size: 5rem;
  font-family: "Helvetica", sans-serif;
  text-shadow: 2px 2px 2px #000, 2px 2px 2px rgb(0, 0, 3);
 
}

.subtitle {
  color: white;
  font-size: 1.5rem;
  font-family: "Helvetica", sans-serif;
  text-shadow: 2px 2px 2px #000, 2px 2px 2px rgb(0, 0, 3);
  font-stretch: ultra-expanded;
}

hr.content-divider {
  max-width: 75px;
  height: 5px;
}

#parallax-1 {
  background: url(../../assets/satellite2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid rgb(66, 66, 66);
}

#parallax-1 hr {
  background: rgb(0, 0, 0);
}

#parallax-2 {
  background: url(../../assets/satellite2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-top: 10px solid rgb(0, 0, 0);
}

#parallax-2 hr {
  background: rgb(0, 0, 0);
}

// #parallax-3 {
//   background: url(https://source.unsplash.com/featured/?city);
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
//   border-top: 10px solid hotpink;
// }

// #parallax-3 hr {
//   background: hotpink;
// }

.label {
  color: white;
}

input {
  background: transparent !important;
  border: 1px solid turquoise !important;
  color: white !important;
}

input::placeholder {
  color: white !important;
}
