<section class="hero is-medium is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container">
            <h1 class="title is-1 ">Applicability Estimation Tool <br><br><br>for Spatial Prediction Models</h1>
            <br>
            <h2 class="subtitle">by geo tech</h2>
            <a routerLink="/documentation" class="button is-white is-medium is-inverted">Learn More&ensp;<i
                    class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</section>
<section id="parallax-1" class="hero is-large ">
    <div class="hero-body">
        <div class="container">
            <h2 class="subtitle">A tool that combines all steps - from satellite image generation, model training and classification to the use of the area of applicability - in one workflow.</h2>
            <a routerLink="/map" class="button is-white is-inverted">Try it yourself!&ensp;<i 
                class="fa fa-chevron-right"></i></a>
        </div>
    </div>
</section>