.va {
    display: flex;
    align-items: center;
  }
  
  .background,
  .cta {
    height: 100%;
    background: url(../../assets/satellite.jpg),
      linear-gradient(52deg, #42475c 0%, #20222e 71%);
  }
  
  .cta {
    height: 500px;
    border-top: 10px solid turquoise;
  }