<div class="background">
    <section class="section">
        <div class="notification is-white box" style="margin-top: 60px; margin-bottom: 60px;">
            <div id="container" class="container is-fluid">
                <div class="columns is-centered">
                    <div id="formdiv" class="column is-two-fifths">
                        <div>
                            <form>
                                <mat-stepper orientation="vertical" #stepper [selectedIndex]="7">
                                    <mat-step>
                                        <ng-template matStepLabel>
                                            <div>
                                                Select your area of interest on the map
                                                <span class="has-tooltip-bottom has-text-info" data-tooltip="For this area a satellite image will be created in order to subsequently perform a land use classification. 
To validate the result, the area of applicabilty (AOA) is also applied. The larger the selected area, the longer
the calculation will take. For a faster calculation, the resolution and/or the number of bands could be reduced.
Example: For an area of ​​approx. 10,000 hectares, a 10m resolution and all bands selected the software needs 
about 15 minutes to work.">
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <div>
                                            <p> This is the area of interest selected for the demonstration.
                                            </p>
                                        </div>
                                    </mat-step>
                                    <mat-step state="option">
                                        <ng-template matStepLabel>
                                            <div>
                                                Do you have a trained model or just some training data?
                                                <span class="has-tooltip-arrow has-tooltip-bottom has-text-info"
                                                    data-tooltip="Choose whether you want to upload an trained model or training data to calculate a new model.
When you select to upload training data, you will be able to choose between two machine learning algorithms.
For each algorithm further hyperparameters can be set.
• Random Forest:
    o mtry:
        - min: 2
        - max: Number of selected predictors (step 5)
        - default: 2
• Support Vector Machine:
    o standard deviation:
        - default: 1
    o cost:
        - default: 1">
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <div class="control">
                                            <label class="radio">
                                                <input type="radio" checked disabled>
                                                <b>Trained model</b>
                                            </label>
                                            <label class="radio">
                                                <input type="radio" disabled>
                                                <b>Training data</b>
                                            </label>
                                        </div>
                                        <div>
                                            <mat-form-field appearance="fill">
                                                <mat-label>Select a training algorithm</mat-label>
                                                <mat-select [(value)]="algorithm">
                                                    <mat-option value='rf' disabled>Random Forest</mat-option>
                                                    <mat-option value='svmRadial' disabled>Support Vector Machines
                                                    </mat-option>
                                                </mat-select>
                                            </mat-form-field>
                                            <div>
                                                <label class="label">mtry</label>
                                                <input class="input" type="number" value="2" readonly>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="field">
                                                <button mat-button matStepperNext
                                                    class="button has-background-info-light is-pulled-right">Next</button>
                                            </div>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>
                                            <div>
                                                Select a file (trained model or training data)
                                                <span class="has-tooltip-arrow has-tooltip-bottom has-text-info"
                                                    data-tooltip="• Model:
    o If you choose to upload a model, please note, that all predictors used by the model must
      also be included in the selection of bands/predictors (step 5). The reverse need not apply.
    o To get reliable results, the uploaded model should also have been trained at the same resolution as selected in step 6.
    o Accepted formats:
        - .RDS
• Training data:
    o Training data must be stored as polygons and contain a “Label” column.
    o Accepted formats:
        - .gpkg
        - .geojson">
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <div>
                                            <div class="file has-name is-boxed is-centered">
                                                <label class="file-label">
                                                    <input class="file-input" type="file" disabled="true">
                                                    <span class="file-cta">
                                                        <span class="file-icon">
                                                            <i class="fa fa-upload"></i>
                                                        </span>
                                                    </span>
                                                    <span class="file-name" *ngIf="this.currentFileName != ''">
                                                        {{currentFileName}}
                                                    </span>
                                                </label>
                                            </div>
                                            <div class="container">
                                                <div class="field">
                                                    <button mat-button matStepperPrevious
                                                        class="button has-background-warning-light is-pulled-left">Back</button>
                                                    <button mat-button matStepperNext
                                                        class="button has-background-info-light is-pulled-right">Next</button>
                                                </div>
                                            </div>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>
                                            <div>
                                                Enter a time period (for sentinel-2 image search)
                                                <span class="has-tooltip-arrow has-tooltip-bottom has-text-info"
                                                    data-tooltip="The period is used to retrieve available sentinel-2 imagery. The images found are processed to create the outcome sentinel
images for the area of interest and for the training data (if uploaded). It is possible that no suitable sentinel-2 images
can be found for the selected time period. If this is the case, a corresponding error message will be displayed and you will 
be prompted to select a larger time period. If you find that the generated sentinel images contain many errors (gaps, clouds
or other artifacts), try to rerun the program with a larger time period.">
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <mat-form-field appearance="fill">
                                            <mat-date-range-input [rangePicker]="picker" [formGroup]="dates">
                                                <input [readonly]="true" matStartDate placeholder="Start date"
                                                    formControlName="start">
                                                <input [readonly]="true" matEndDate placeholder="End date"
                                                    formControlName="end">
                                            </mat-date-range-input>
                                            <mat-date-range-picker touchUi #picker></mat-date-range-picker>
                                        </mat-form-field>
                                        <div class="container">
                                            <div class="field">
                                                <button mat-button matStepperPrevious
                                                    class="button has-background-warning-light is-pulled-left">Back</button>
                                                <button mat-button matStepperNext
                                                    class="button has-background-info-light is-pulled-right">Next</button>
                                            </div>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>
                                            <div>
                                                Choose bands/predictors (for outcome sentinel-2 images)
                                                <span class="has-tooltip-arrow has-tooltip-bottom has-text-info"
                                                    data-tooltip="The bands in our program are the possible predictors. The more predictors are selected, the more computational 
effort is required. Please choose your predictors carefully, depending on the goal of the calculations.">
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Bands/predictors</mat-label>
                                            <mat-select multiple [(ngModel)]="selectedChannels" name="selectedFoods">
                                                <mat-option value="B01" disabled>B01</mat-option>
                                                <mat-option value="B02" disabled>B02</mat-option>
                                                <mat-option value="B03" disabled>B03</mat-option>
                                                <mat-option value="B04" disabled>B04</mat-option>
                                                <mat-option value="B05" disabled>B05</mat-option>
                                                <mat-option value="B06" disabled>B06</mat-option>
                                                <mat-option value="B07" disabled>B07</mat-option>
                                                <mat-option value="B08" disabled>B08</mat-option>
                                                <mat-option value="B09" disabled>B09</mat-option>
                                                <mat-option value="B11" disabled>B11</mat-option>
                                                <mat-option value="B12" disabled>B12</mat-option>
                                                <mat-option value="B8A" disabled>B8A</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="container">
                                            <div class="field">
                                                <button mat-button matStepperPrevious
                                                    class="button has-background-warning-light is-pulled-left">Back</button>
                                                <button mat-button matStepperNext
                                                    class="button has-background-info-light is-pulled-right">Next</button>
                                            </div>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>
                                            <div>
                                                Choose the resolution (for outcome sentinel-2 images)
                                                <span class="has-tooltip-arrow has-tooltip-bottom has-text-info"
                                                    data-tooltip="Here the resolution of the satellite image for the area of interest (and if available also for the training data)
is selected, on which all further calculations are based. The higher the resolution, the longer the runtime of
the calculations. Please note, that some bands are only available up to a certain resolution (for further 
information: https://sentinels.copernicus.eu/web/sentinel/user-guides/sentinel-2-msi/resolutions/spatial).
Depending on the desired resolution, the bands are up- or downsampled.">
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <mat-form-field appearance="fill">
                                            <mat-label>Select an option</mat-label>
                                            <mat-select [(value)]="resolution">
                                                <mat-option value=10 disabled>10m</mat-option>
                                                <mat-option value=20 disabled>20m</mat-option>
                                                <mat-option value=60 disabled>60m</mat-option>
                                                <mat-option value=100 disabled>100m</mat-option>
                                                <mat-option value=200 disabled>200m</mat-option>
                                                <mat-option value=400 disabled>400m</mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                        <div class="container">
                                            <div class="field">
                                                <button mat-button matStepperPrevious
                                                    class="button has-background-warning-light is-pulled-left">Back</button>
                                                <button mat-button matStepperNext
                                                    class="button has-background-info-light is-pulled-right">Next</button>
                                            </div>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <br>
                                        <ng-template matStepLabel>
                                            <div>
                                                Choose maximum cloud cover (for sentinel-2 image search)
                                                <span class="has-tooltip-arrow has-tooltip-bottom has-text-info"
                                                    data-tooltip="The cloud cover is used to retrieve available sentinel-2 imagery. The images found are processed to create the outcome sentinel images
for the area of interest and for the training data (if uploaded). It is possible that suitable satellite images can be found for the 
selected time period, but not for the specified maximum cloud cover. If this is the case, a corresponding error message will be displayed 
and you will be prompted to increase the maximum cloud cover. Please note that increasing the maximum cloud cover will probably produce
worse sentinel images (more gaps, clouds or other artifacts). If you want to keep the same maximum cloud cover, you can instead increase the
selected time period.">
                                                    <i class="fa fa-info-circle"></i>
                                                </span>
                                            </div>
                                        </ng-template>
                                        <div class="columns is-mobile is-centered">
                                            <div class="column is-half">
                                                <p class="bd-notification is-primary">
                                                    <mat-slider thumbLabel tickInterval="1" step="1" min="0" max="100"
                                                        aria-label="units" value="20" disabled></mat-slider>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="container">
                                            <div class="field">
                                                <button mat-button matStepperPrevious
                                                    class="button has-background-warning-light is-pulled-left">Back</button>
                                                <button mat-button matStepperNext
                                                    class="button has-background-info-light is-pulled-right">Next</button>
                                            </div>
                                        </div>
                                    </mat-step>
                                    <mat-step>
                                        <ng-template matStepLabel>Done</ng-template>
                                        <p>Do you want to run the demo?</p>
                                        <div class="field">
                                            <button mat-button matStepperPrevious
                                                class="button has-background-warning-light is-pulled-left">Back</button>
                                            <button mat-button (click)="onSubmit()"
                                                class="button is-success is-pulled-right">Run demo</button>
                                        </div>
                                    </mat-step>
                                </mat-stepper>
                            </form>
                        </div>
                    </div>
                    <div id="mapdiv" class="column">
                        <!-- map -->
                        <div class="notification is-white">
                            <div id="map" style="height: 100%;
                            z-index: 1 !important;
                            width: 100%;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="progressModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            This could take some time, please wait...
        </div>
        <progress class="progress is-large is-info" max="100">60%</progress>
    </div>
</div>