<div class="hero is-fullheight-with-navbar">
    <section class="section">
        <div id="container" class="container is-fluid">
            <div class="columns is-centered">
                <div class="column is-one-third">
                    <div>
                        <form [formGroup]="submitForm">
                            <mat-stepper id="stepper" formArrayName="formArray" orientation="vertical"
                                [selectedIndex]="stepperIndex" linear #stepper>
                                <mat-step formGroupName="0" [stepControl]="formArray?.get([0])">
                                    <ng-template matStepLabel>Please select your area of interest on the map.
                                    </ng-template>
                                    <div>
                                        <label class="checkbox" style="visibility: hidden;">
                                            <input id="checkbox" type="checkbox" formControlName="selected">
                                            Choose are of interest
                                        </label>
                                    </div>
                                </mat-step>
                                <mat-step formGroupName="1" [stepControl]="formArray?.get([1])" state="option">
                                    <ng-template matStepLabel>Do you have a trained model or just some training
                                        data?
                                    </ng-template>
                                    <div class="control">
                                        <label class="radio">
                                            <input type="radio" [value]="'model'" name="option"
                                                formControlName="option">
                                            Trained model
                                        </label>
                                        <label class="radio">
                                            <input type="radio" [value]="'data'" name="option" formControlName="option">
                                            Training data
                                        </label>
                                        <br>
                                    </div>
                                    <br>
                                    <div class="container">
                                        <div class="field">
                                            <button mat-button matStepperNext
                                                class="button has-background-info-light is-pulled-right">Next</button>
                                        </div>
                                    </div>
                                </mat-step>
                                <mat-step formGroupName="2" [stepControl]="formArray?.get([2])" state="upload">
                                    <ng-template matStepLabel>Select a file (trained model or training data)
                                    </ng-template>
                                    <div class="file has-name is-boxed is-centered">
                                        <label class="file-label">
                                            <input class="file-input" type="file" (change)="fileSelected($event)"
                                                name="file" ng2FileSelect [uploader]="uploader"
                                                accept=".geojson,.json,.gpkg" formControlName="file">
                                            <span class="file-cta">
                                                <span class="file-icon">
                                                    <i class="fa fa-upload"></i>
                                                </span>
                                            </span>
                                            <span class="file-name" *ngIf="this.currentFileName != ''">
                                                {{currentFileName}}
                                            </span>
                                        </label>
                                    </div>
                                    <div class="container">
                                        <div class="field">
                                            <button mat-button matStepperPrevious
                                                class="button has-background-warning-light is-pulled-left">Back</button>
                                            <button mat-button matStepperNext
                                                class="button has-background-info-light is-pulled-right">Next</button>
                                        </div>
                                    </div>
                                </mat-step>
                                <mat-step formGroupName="3" [stepControl]="formArray?.get([3])" state="timeframe">
                                    <ng-template matStepLabel>Enter a timeframe for the satelite images:</ng-template>
                                    <mat-form-field appearance="fill">
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate placeholder="Start date" formControlName="startDate">
                                            <input matEndDate placeholder="End date" formControlName="endDate">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker touchUi #picker></mat-date-range-picker>
                                    </mat-form-field>
                                    <div class="container">
                                        <div class="field">
                                            <button mat-button matStepperPrevious
                                                class="button has-background-warning-light is-pulled-left">Back</button>
                                            <button mat-button matStepperNext
                                                class="button has-background-info-light is-pulled-right">Next</button>
                                        </div>
                                    </div>
                                </mat-step>
                                <mat-step>
                                    <ng-template matStepLabel>Done</ng-template>
                                    <p>Do you want to submit your data?</p>
                                    <div class="field">
                                        <button mat-button matStepperPrevious
                                            class="button has-background-warning-light is-pulled-left">Back</button>
                                        <button mat-button (click)="onSubmit()"
                                            class="button is-success is-pulled-right">Submit</button>
                                    </div>
                                </mat-step>
                            </mat-stepper>
                        </form>
                    </div>
                </div>
                <div class="column">
                    <!-- map -->
                    <div class="notification is-white">
                        <div id="map"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="progressModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            This could take some time, please wait...
        </div>
        <progress class="progress is-large is-info" max="100">60%</progress>
    </div>
</div>