<div class="hero is-fullheight-with-navbar">
    <section class="section">
        <div class="container">
            <!-- instructions // how to use this app -->
            <section class="section">
                <div class="notification is-primary">Hier könnte eine Gebrauchsanweisung stehen</div>
            </section>
            <!-- map -->
            <section class="section">
                <div id="map"></div>
                <!-- message if invalid input -->
                <span class="has-text-danger" *ngIf="formSubmitted && submitForm.controls.aoi.errors?.required">Please
                    select the area of interest</span>
            </section>
            <!-- popup if data is submitted and calculation is going on -->
            <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <pre>{{data | json}}</pre>
                </div>
                <button class="modal-close is-large" aria-label="close" (click)="closeModal()"></button>
            </div>
            <!-- section below map -->
            <section class="section">
                <form [formGroup]="submitForm" (ngSubmit)="onSubmit()">
                    <div class="columns">
                        <!-- select column -->
                        <div class="column">
                            <div class="notification is-warning is-light">
                                <div class="control">
                                    <label class="radio">
                                        <input type="radio" [value]="1" name="option" formControlName="option">
                                        Option1
                                    </label>
                                    <label class="radio">
                                        <input type="radio" [value]="2" name="option" formControlName="option">
                                        Option2
                                    </label>
                                    <!-- message if invalid input -->
                                    <span class="has-text-danger"
                                        *ngIf="formSubmitted && submitForm.controls.option.errors?.required">Please
                                        select a option</span>
                                </div>
                            </div>
                        </div>
                        <!-- upload column -->
                        <div class="column">
                            <div class="notification is-success is-light">
                                <div class="file has-name is-boxed">
                                    <label class="file-label">
                                        <input class="file-input" type="file" (change)="fileSelected($event)"
                                            name="file" ng2FileSelect [uploader]="uploader"
                                            accept=".geojson,.rdfs,.json,.gpkg">
                                        <span class="file-cta">
                                            <span class="file-icon">
                                                <i class="fa fa-upload"></i>
                                            </span>
                                            <span class="file-label">
                                                Choose a file…
                                            </span>
                                        </span>
                                        <!-- message if invalid input -->
                                        <span class="has-text-danger"
                                            *ngIf="formSubmitted && submitForm.controls.file.errors?.required">Please
                                            select a file</span>
                                        <span class="file-name" *ngIf="this.currentFileName != ''">
                                            {{currentFileName}}
                                        </span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <!-- datepicker column -->
                        <div class="column">
                            <div class="notification is-warning is-light">
                                <div>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Enter a date range</mat-label>
                                        <mat-date-range-input [rangePicker]="picker">
                                            <input matStartDate placeholder="Start date" formControlName="startDate">
                                            <input matEndDate placeholder="End date" formControlName="endDate">
                                        </mat-date-range-input>
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-date-range-picker #picker></mat-date-range-picker>
                                    </mat-form-field>
                                    <!-- message if invalid input -->
                                    <span class="has-text-danger"
                                        *ngIf="(formSubmitted && submitForm.controls.startDate.errors?.required) || (formSubmitted && submitForm.controls.endDate.errors?.required)">Please
                                        select a valid range</span>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="notification is-info is-light">
                                <button class="button is-large" (click)="onSubmit()">
                                    <span class="icon">
                                        <i class="fa fa-play fa-lg"></i>
                                    </span>
                                    <p>Calculate AOA</p>
                                </button>
                            </div>
                        </div>
                        <!-- run demo column -->
                        <div class="column">
                            <div class="notification is-link is-light">
                                <button class="button is-large" (click)="onDemoButton()">
                                    <span class="icon">
                                        <i class="fa fa-play fa-lg"></i>
                                    </span>
                                    <p>Run Demo</p>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>