@import "~node_modules/bulma/bulma";
@import "~node_modules/@creativebulma/bulma-tooltip";

.hero {
  height: 100vh;
}

.navbar {
  min-height: 3.5rem;
}

.footer {
  padding: 2rem 1.5rem 2rem;
  background-color: #363636;
}

.column {
  display: flex;
}

.navbar {
  z-index: 9998 !important;
}

.notification {
  width: 100%;
}

a,
a:active,
a:visited {
  color: white;
}

a:hover {
  color: #8bf08b;
}

html,
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.leaflet-bar a,
.leaflet-bar {
  text-decoration: none !important;
}

ul.leaflet-draw-actions.leaflet-draw-actions-bottom li a[title="Save changes"],
ul.leaflet-draw-actions.leaflet-draw-actions-bottom
  li
  a[title="Cancel editing, discards all changes"] {
  display: none;
}

.modal {
  z-index: 9999 !important;
}

.mat-step-header .mat-step-icon-selected {
  background-color: #a8eda8 !important;
  color: black !important;
}

.mat-step-header .mat-step-icon-state-edit {
  background-color: rgba(0, 0, 0, 0.54);
  color: #fff;
}

#wrapper {
  display: flex;
  flex-direction: column;
  height:100%;
  min-height: 100vh;
}

#site {
  flex: 1;
}

.content {
  flex: 1;
}

.mat-step-header {
  overflow: visible !important;
}

[data-tooltip]:not(.is-loading),
[data-tooltip]:not(.is-disabled),
[data-tooltip]:not([disabled]) {
  position: absolute;
}

.ichbindaslogo {
  background: url(/assets/logo.png) no-repeat center center;
  background-size: cover;
  width: 64px;
}
