@import "~node_modules/bulma/bulma";

.navbar {
  min-height: 5rem;
}

.footer {
  padding: 2rem 1.5rem 2rem;
  background-color: #363636;
}

.column {
  display: flex;
}

.navbar {
  z-index: 9998 !important;
}

.modal {
  z-index: 9999 !important;
}

a,
a:active,
a:visited {
  color: white;
}

a:hover {
  color: #b3ffb3;
}

#map {
  height: 400px;
  z-index: 1 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
